@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
    --primary-dark: #2d283e
    --primary-light: #802bb1
}

@layer base {
    h1 {
        @apply font-[Playfair] text-4xl
    }

    h2 {
        @apply text-2xl
    }

}